root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true

# YAML requires indentation with spaces instead of tabs.
[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{sh,ps1,psd1}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.{sln,csproj}]
end_of_line = crlf
charset = utf-8-bom

[*.sln]
indent_style = tab

[*.{csproj,proj,props,targets,nuspec,resx}]
indent_style = space
indent_size = 2

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

csharp_prefer_braces = true
csharp_indent_case_contents_when_block = false
csharp_style_prefer_primary_constructors = false

csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true

dotnet_style_require_accessibility_modifiers = always

# IDE0011: Add braces.
dotnet_diagnostic.IDE0011.severity = warning

# IDE0040: Add accessibility modifiers.
dotnet_diagnostic.IDE0040.severity = warning

# IDE0055: Formatting rule violation.
dotnet_diagnostic.IDE0055.severity = warning

# IDE1006: Naming rule violation.
dotnet_diagnostic.IDE1006.severity = suggestion

# Severity levels for dotnet_naming_rule only affect IDE environments.
# To have them extra visible to people, we can set them as 'warning' here without affecting compilation.

# Everything should be PascalCase by default.
dotnet_naming_rule.all_should_be_camel_case.severity = warning
dotnet_naming_rule.all_should_be_camel_case.symbols = all
dotnet_naming_rule.all_should_be_camel_case.style = pascal_case_style
# Non-public fields should be _camelCase.
dotnet_naming_rule.non_public_fields_should_be_underscore_camel_case.severity = warning
dotnet_naming_rule.non_public_fields_should_be_underscore_camel_case.symbols = non_public_fields
dotnet_naming_rule.non_public_fields_should_be_underscore_camel_case.style = underscore_camel_case_style
# Constant fields (and local vars) should be PascalCase.
dotnet_naming_rule.constants_should_be_pascal_case.severity = warning
dotnet_naming_rule.constants_should_be_pascal_case.symbols = constants
dotnet_naming_rule.constants_should_be_pascal_case.style = pascal_case_style
# Locals variables should be camelCase.
dotnet_naming_rule.local_vars_should_be_camel_case.severity = warning
dotnet_naming_rule.local_vars_should_be_camel_case.symbols = local_vars
dotnet_naming_rule.local_vars_should_be_camel_case.style = camel_case_style
# Parameters should be camelCase.
dotnet_naming_rule.parameters_should_be_camel_case.severity = warning
dotnet_naming_rule.parameters_should_be_camel_case.symbols = parameters
dotnet_naming_rule.parameters_should_be_camel_case.style = camel_case_style

dotnet_naming_symbols.all.applicable_kinds = *
dotnet_naming_symbols.local_vars.applicable_kinds = local
dotnet_naming_symbols.parameters.applicable_kinds = parameter
dotnet_naming_symbols.constants.applicable_kinds = field, local
dotnet_naming_symbols.constants.required_modifiers = const
dotnet_naming_symbols.non_public_fields.applicable_kinds = field
dotnet_naming_symbols.non_public_fields.applicable_accessibilities = private, protected, private_protected

dotnet_naming_style.camel_case_style.capitalization = camel_case
dotnet_naming_style.camel_case_style.required_prefix =
dotnet_naming_style.underscore_camel_case_style.capitalization = camel_case
dotnet_naming_style.underscore_camel_case_style.required_prefix = _
dotnet_naming_style.pascal_case_style.capitalization = pascal_case
dotnet_naming_style.pascal_case_style.required_prefix =

# Severity override to diagnostics, in order to make generated code compilation readable.
# We want to limit the scope of suppression as much as possible.
[**/Generated/**.cs]
# IDE1006: Naming rule violation.
dotnet_diagnostic.IDE1006.severity = none
# CA1062: Validate parameter is non-null before using it.
# Useful for generated code, since it disables nullable.
dotnet_diagnostic.CA1062.severity = error
# CA1069: Enums should not have duplicate values.
dotnet_diagnostic.CA1069.severity = none
# CA1707: Identifiers should not contain underscores.
dotnet_diagnostic.CA1707.severity = none
# CA1708: Identifiers should differ by more than case.
dotnet_diagnostic.CA1708.severity = none
# CA1711: Identifiers should not have incorrect suffix.
# Disable warning for suffixes like EventHandler, Flags, Enum, etc.
dotnet_diagnostic.CA1711.severity = none
# CA1716: Identifiers should not match keywords.
# This is suppressed, because it will report `@event` as well as `event`.
dotnet_diagnostic.CA1716.severity = none
# CA1720: Identifiers should not contain type names.
dotnet_diagnostic.CA1720.severity = none
# CS1591: Missing XML comment for publicly visible type or member.
dotnet_diagnostic.CS1591.severity = none
# CS1573: Parameter has no matching param tag in the XML comment.
dotnet_diagnostic.CS1573.severity = none
